.btn-gold {
  border-color:#f2c75d;
  color:#f2c75d;
}

.btn.btn-gold,input.btn-gold[type=submit]{border-color:#f2c75d;color:#f2c75d}.btn-gold.rowDonate-btn a,.btn-gold.rowDonate-submit a,.btn-gold.submit a,.btn.btn-gold a,input.btn-gold[type=submit] a{color:#f2c75d}.btn-gold.rowDonate-btn:hover,.btn-gold.rowDonate-submit:hover,.btn-gold.submit:hover,.btn.btn-gold:hover,input.btn-gold[type=submit]:hover{background-color:#f2c75d;color:#fff;border-color:#f2c75d}.btn-gold.rowDonate-btn:hover a,.btn-gold.rowDonate-submit:hover a,.btn-gold.submit:hover a,.btn.btn-gold:hover a,input.btn-gold[type=submit]:hover a{color:#fff}.btn-gold.btn-solid.rowDonate-btn,.btn-gold.btn-solid.submit,.btn-gold.rowDonate-submit,.btn.btn-gold.btn-solid,input.btn-gold.btn-solid[type=submit]{background-color:#f2c75d;color:#fff}.btn-gold.btn-solid.rowDonate-btn a,.btn-gold.btn-solid.submit a,.btn-gold.rowDonate-btn.rowDonate-submit a,.btn-gold.rowDonate-submit a,.btn-gold.submit.rowDonate-submit a,.btn.btn-gold.btn-solid a,input.btn-gold.btn-solid[type=submit] a,input.btn-gold[type=submit].rowDonate-submit a{color:#fff}.btn-gold.btn-solid.rowDonate-btn:hover,.btn-gold.btn-solid.submit:hover,.btn-gold.rowDonate-submit:hover,.btn.btn-gold.btn-solid:hover,input.btn-gold.btn-solid[type=submit]:hover{color:#f2c75d;background-color:#fff}.btn-gold.btn-solid.rowDonate-btn:hover a,.btn-gold.btn-solid.submit:hover a,.btn-gold.rowDonate-btn.rowDonate-submit:hover a,.btn-gold.rowDonate-submit:hover a,.btn-gold.submit.rowDonate-submit:hover a,.btn.btn-gold.btn-solid:hover a,input.btn-gold.btn-solid[type=submit]:hover a,input.btn-gold[type=submit].rowDonate-submit:hover a{color:#f2c75d}.btn-gold.btn-inverse.rowDonate-btn,.btn-gold.btn-inverse.rowDonate-submit,.btn-gold.btn-inverse.submit,.btn.btn-gold.btn-inverse,input.btn-gold.btn-inverse[type=submit]{background-color:transparent;border-color:#f2c75d;color:#f2c75d}.btn-gold.btn-inverse.rowDonate-btn a,.btn-gold.btn-inverse.rowDonate-submit a,.btn-gold.btn-inverse.submit a,.btn.btn-gold.btn-inverse a,input.btn-gold.btn-inverse[type=submit] a{color:#f2c75d}.no-touchevents .btn-gold.btn-inverse.rowDonate-btn:hover,.no-touchevents .btn-gold.btn-inverse.rowDonate-submit:hover,.no-touchevents .btn-gold.btn-inverse.submit:hover,.no-touchevents .btn.btn-gold.btn-inverse:hover,.no-touchevents input.btn-gold.btn-inverse[type=submit]:hover{background-color:#f2c75d;color:#fff}.no-touchevents .btn-gold.btn-inverse.rowDonate-btn:hover a,.no-touchevents .btn-gold.btn-inverse.rowDonate-submit:hover a,.no-touchevents .btn-gold.btn-inverse.submit:hover a,.no-touchevents .btn.btn-gold.btn-inverse:hover a,.no-touchevents input.btn-gold.btn-inverse[type=submit]:hover a{color:#fff}

.navItem-link {
  display: none !important; 
  }
  
  .youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
      }

.center {
  margin: auto;
  padding: 10px;
}
.audio-player {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
     margin: auto;
      min-width: 60%;
      transition: flex-direction 0.3s ease;
}
.album-art {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    margin: auto;
}
.album-art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
      margin: auto;
}

  .audio-title {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.mtk-controls {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 70%;
}
.mtk-controls audio {
    width: 90%;
      min-width: 40%;
      margin: auto;
}
@media (max-width: 1000px) {
    .audio-player {
        flex-direction: column;
        align-items: center;
          width: 80%;
    }
    .album-art {
        margin-right: 0;
        margin-bottom: 20px;
        width: 400px;
        height: 400px;
    }
  .mtk-audio {
    width: 80%;
    padding-left:10px;
    padding-right:10px;
  }
   .mtk-controls {
    width: 80%;
    padding-left:10px;
    padding-right:10px;
  }
}