/* Carousel */
#carouselExampleCaptions .carousel-inner {
  border-radius: 1rem;
  overflow: hidden;
}
#carouselExampleCaptions .carousel-item img {
  border-radius: 0;
}


#carouselExampleCaptions .carousel-control-prev,
#carouselExampleCaptions .carousel-control-next,
#carouselExampleCaptions .carousel-indicators {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}

#carouselExampleCaptions:hover .carousel-control-prev,
#carouselExampleCaptions:hover .carousel-control-next,
#carouselExampleCaptions:hover .carousel-indicators {
  opacity: 1;
  pointer-events: auto;
}

/* Solid Backgrounds */
.u-sa-redBg {
	background-color: rgb(237, 28, 43);
	color: white;
}

.u-sa-navyBg {
	background-color: rgb(42, 49, 63);
	color: white;
}

/* Solid Red Buttons */
span.btn.btn-solid.btn-red {
/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(237, 28, 43);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Effects */
	transform: none;
	transition: 0.35s;
	outline: rgb(237, 28, 43) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	text-decoration: none;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Grey Button */
span.btn.btn-solid.btn-grey {
	/* Font & Text */
	text-decoration: none solid rgb(153, 153, 153);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(153, 153, 153);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(153, 153, 153);


	/* Effects */
	transform: none;
	transition: 0.35s;
	outline: rgb(153, 153, 153) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Light Grey Button */
span .btn btn-solid btn-greyLight {
	/* Font & Text */
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 28.8px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(237, 28, 43);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);

	/* Box */
	height: 62.7969px;
	width: 161.078px;
	border: 2px solid rgb(223, 220, 227);
	border-top: 2px solid rgb(223, 220, 227);
	border-right: 2px solid rgb(223, 220, 227);
	border-bottom: 2px solid rgb(223, 220, 227);
	border-left: 2px solid rgb(223, 220, 227);
	margin: 4.5px 0px;
	padding: 15px 35px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: 0.35s;
	outline: rgb(255, 255, 255) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

span .btn btn-solid btn-greyVeryLight {
	/* Font & Text */
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 28.8px;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(245, 245, 245);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(17, 17, 17);

	/* Box */
	height: 62.7969px;
	width: 161.078px;
	border: 2px solid rgb(245, 245, 245);
	border-top: 2px solid rgb(245, 245, 245);
	border-right: 2px solid rgb(245, 245, 245);
	border-bottom: 2px solid rgb(245, 245, 245);
	border-left: 2px solid rgb(245, 245, 245);
	margin: 4.5px 0px;
	padding: 15px 35px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: 0.35s;
	outline: rgb(17, 17, 17) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

span .btn btn-solid btn-white {
	/* Font & Text */
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 28.8px;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(17, 17, 17);

	/* Box */
	height: 62.7969px;
	width: 161.078px;
	border: 2px solid rgb(255, 255, 255);
	border-top: 2px solid rgb(255, 255, 255);
	border-right: 2px solid rgb(255, 255, 255);
	border-bottom: 2px solid rgb(255, 255, 255);
	border-left: 2px solid rgb(255, 255, 255);
	margin: 4.5px 0px;
	padding: 15px 35px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: 0.35s;
	outline: rgb(17, 17, 17) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

span .btn btn-solid btn-black {
	/* Font & Text */
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 28.8px;
	text-decoration: none solid rgb(203, 203, 203);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(69, 69, 69);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(203, 203, 203);

	/* Box */
	height: 62.7969px;
	width: 161.078px;
	border: 2px solid rgb(17, 17, 17);
	border-top: 2px solid rgb(17, 17, 17);
	border-right: 2px solid rgb(17, 17, 17);
	border-bottom: 2px solid rgb(17, 17, 17);
	border-left: 2px solid rgb(17, 17, 17);
	margin: 4.5px 0px;
	padding: 15px 35px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: 0.35s;
	outline: rgb(201, 193, 193) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

span .btn btn-solid btn-blue {
	/* Font & Text */
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 28.8px;
	text-decoration: none solid rgb(77, 174, 226);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(77, 174, 226);

	/* Box */
	height: 62.7969px;
	width: 161.078px;
	border: 2px solid rgb(77, 174, 226);
	border-top: 2px solid rgb(77, 174, 226);
	border-right: 2px solid rgb(77, 174, 226);
	border-bottom: 2px solid rgb(77, 174, 226);
	border-left: 2px solid rgb(77, 174, 226);
	margin: 4.5px 0px;
	padding: 15px 35px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: 0.35s;
	outline: rgb(77, 174, 226) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

span .btn btn-solid btn-navy {
	/* Font & Text */
	font-family: proxima-nova, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 28.8px;
	text-decoration: none solid rgb(42, 49, 63);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(42, 49, 63);

	/* Box */
	height: 62.7969px;
	width: 161.078px;
	border: 2px solid rgb(42, 49, 63);
	border-top: 2px solid rgb(42, 49, 63);
	border-right: 2px solid rgb(42, 49, 63);
	border-bottom: 2px solid rgb(42, 49, 63);
	border-left: 2px solid rgb(42, 49, 63);
	margin: 4.5px 0px;
	padding: 15px 35px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: 0.35s;
	outline: rgb(42, 49, 63) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}